* {
    margin: 0;
    padding: 0;
}
.header-container {
    background-image: url("Assets/Hero-bg.png");
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    margin-bottom: 158px;

}
.primary-color {
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Raleway", sans-serif;
}
.logo {
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 34px;
}
.header-content {
    text-align: center;
}
/* title design */
.title {
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin-top: 37px;
    margin-bottom: 37px;
}
.btn-2 {
    margin-bottom: 200px;
}
/* section design */
.section1 {
    display: flex;
    margin-left: 140px;
    margin-right: 160px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}
.section-title {
    font-size: 42px;
}
.content p {
    font-family: "Raleway", sans-serif;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #8987A1;
}
.section1-image {
    border: none;
    border-radius: 48px;
}
/* section2 design */
.section2 {
    padding: 50px 80px;
    background-color: #D6DDED;
    margin-left: 140px;
    margin-right: 160px;
    margin-bottom: 70px;
    border-radius: 24px;
}
.section-title2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.section2-content {
    display: flex;
    justify-content: space-around;
}
.summary h1 {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.summary p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #8987A1;
}
.card-section {
    display: flex;
    justify-content: space-around;
}
.card {
    padding: 24px;
    background-color: #F3F3F3;
    border-radius: 14px;
}
.card p {
    margin-top: 10px;
    color: #757575;
}
.card h4 {
    margin-top: 10px;
}
.card-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.card-section {
    margin-left: 140px;
    margin-right: 160px;
}
.tricky {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}
.easy {
    margin-top: 10px;
}
.card-subtitle {
    color: #757575;
}
.easy h6 {
    color: #757575;
}